{% extends 'base.html' %}


{% block title %}A1-136 Canvas{% endblock %}

{% block extra_cdn_css %}
<!--Para el Grid-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.0.8/gridlex.min.css">
    <!---->

{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ static("css/drag.css") }}">
{% endblock %}


{% block top_js %}{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div id="content"></div>
    <div class="row">
      <div class="col-sm-12 col-xs-12 hidden-md hidden-lg">
        <p class="error_message">Utiliza una resolución mas grande para visualizar el contenido</p>
      </div>
    </div>
    <form method="post" id="form-submit" action={{ url('canvas-finish')}}>
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <button type="submit" id="button-submit" class="hidden-sm hidden-xs">Guardar</button>
    </form>
  </div>

{% endblock %}

{% block bottom_cdn_js %}{% endblock %}
{% block bottom_js %}
  <script>
    var CONST_IMAGESIZE = '{{ CONST_IMAGESIZE }}';
    var CONST_GRIDSIZE = {{ CONST_GRIDSIZE }};
  </script>
  {{ render_bundle('canvas') }}
{% endblock %}
