{% extends 'base.html' %}


{% block title %}A1-136 Canvas{% endblock %}

{% block extra_cdn_css %}
<!--Para el Grid-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.0.8/gridlex.min.css">
    <!---->

{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ static("css/drag.css") }}">
{% endblock %}


{% block top_js %}{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div id="content"></div>
    <form method="post" action={{ url('canvas-finish')}}>
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <button type="submit">Guardar</button>
    </form>
  </div>

{% endblock %}

{% block bottom_cdn_js %}{% endblock %}
{% block bottom_js %}
  <script>
    var CONST_IMAGESIZE = '{{ CONST_IMAGESIZE }}';
    var CONST_GRIDSIZE = {{ CONST_GRIDSIZE }};
  </script>
  {{ render_bundle('canvas') }}
{% endblock %}
