{% extends 'base.jinja' %}
{% block title %}{{ CONST_SYSTEM_NAME }} Home{% endblock %}


{% block extra_css %}
  {{ super() }}
{% endblock %}
{% block top_js %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div id="content">Howdy partner. Home.</div>
{% endblock %}

{% block bottom_js %}
  {{ super() }}
{% endblock %}
