{% extends 'base.html' %}
{% block title %}A1-136 Poll{% endblock %}

{% block extra_cdn_css %}{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ static("css/poll.css") }}">
{% endblock %}

{% block top_cdn_js %}{% endblock %}
{% block top_js %}{% endblock %}

{% block content %}
  <div class="container">
    <div id="titlePoll" class="titlePoll">
      Drag &amp; Drop
    </div>
    <div id="subtitlePoll" class="subtitle">
      Quisque vel nisl diam. Sed consectetur sed magna nec posuere.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>

    <div id="content" class="contentPoll"></div>

    <div>
      <form method="post" id="form-submit" action={{ url('poll-finish')}}>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
      </form>
    </div>
  </div>
{% endblock %}


{% block bottom_cdn_js %}{% endblock %}
{% block bottom_js %}
  {{ render_bundle('poll') }}
{% endblock %}
