{% extends 'base.html' %}
{% block title %}{{ CONST_SYSTEM_NAME }} Poll{% endblock %}

{% block extra_cdn_css %}
  
  
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ static("css/poll.css") }}">
  <style>
    .imagenFlechaNueva {
      background-image: url("{{ static("img/flechaNueva.svg") }}");
    }
  </style>
{% endblock %}

{% block top_cdn_js %}{% endblock %}
{% block top_js %}{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div id="titlePoll" class="titlePoll">
      {{ CONST_SYSTEM_NAME }}
    </div>
    <div id="subtitlePoll" class="subtitle col-xs-6">
      Quisque vel nisl diam. Sed consectetur sed magna nec posuere.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    
    
    <div id="content" class="contentPoll"></div>

    <div>
      <form method="post" id="form-submit" action={{ url('poll-finish')}}>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="hidden" name="time" value="0" id="timer">

        <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="submission()" id="poll-button">Guardar</button>
        
        <div class="progress-cont">
          <div class="progress" id="progress-bar"></div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}


{% block bottom_cdn_js %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/vendors/jquery.easings.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/vendors/jquery.slimscroll.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/vendors/jquery.slimscroll.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/vendors/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.min.js"></script>
  <script type="text/javascript" src="{{ static("js/poll/poll-scripts.js") }}"></script>

{% endblock %}

{% block bottom_js %}
  {{ render_bundle('poll') }}
{% endblock %}
