{% extends 'base.jinja' %}
{% block title %}{{ CONST_SYSTEM_NAME }} Poll{% endblock %}

{% block extra_css %}
  {{ super() }}
  <style>
    .imagenFlechaNueva {
      background-image: url("{{ static("img/flechaNueva.svg") }}");
    }
  </style>
{% endblock %}
{% block top_js %}
  {{ super() }}
  {{ render_bundle('pollCSS') }}
{% endblock %}

{% block content %}
  <div class='row'>
    <div class='title'>
      {{ CONST_SYSTEM_NAME }}
    </div>
  </div>

  <div class='row'>
    <div class='subtitle'>
      Quisque vel nisl diam. Sed consectetur sed magna nec posuere.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
  </div>

  <div class='row'>
    <div id='content' class='content'></div>
  </div>

  <!-- <div>
    <form method="post" id="form-submit" action="{{ url('poll-finish')}}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <input type="hidden" name="time" value="0" id="timer">

      <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="submission()" id="poll-button">Guardar</button>

      <div class="progress-cont">
        <div class="progress" id="progress-bar"></div>
      </div>
    </form>
  </div> -->
{% endblock %}

{% block bottom_js %}
  {{ super() }}
  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/jquery.fullPage.min.js"></script> -->
  <script type="text/javascript" src="{{ static("js/tools/extra-scripts.js") }}"></script>
  {{ render_bundle('pollJS') }}
{% endblock %}
