@import './base';
@import './hopscotch';

.canvas {
  @extend .row;

  .sidebar {
    @include span(5);
    margin-left: span(2) + gutter($grid-columns);
    padding: span(1) 0;
    // padding-left: 10%;
    // max-height: calc(90vh);
    // box-sizing: border-box;

    .title {
      color: $a1-color-1;
      font-size: 3rem;
      font-weight: 100;
      margin: 0;
    }

    .description {
      color: $a1-color-2;
      font-size: 1.2rem;
      font-weight: 100;
      margin-bottom: 10%;
      margin-top: 10%;
      width: 100%;
    }

    .sel-label {
      @include flexbox;
      box-shadow: 0 1px 0 0 #ff740c;
      height: 3rem;
      margin: .5em;
      overflow: hidden;
      position: relative;

      &::after {
        @include align-self(center);
        @include font-smoothing;
        color: #ff740c;
        content: '\f107';
        font: normal normal normal 2rem/1 'FontAwesome';
        margin-right: 3%;
        pointer-events: none;
        position: absolute;
        right: 0;
        z-index: 1;
      }

      .sel-drop {
        @include appearance(none);
        background: #ffffff;
        border: aliceblue;
        border-radius: 0;
        color: #8e8e8e;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 100;
        height: 100%;
        padding: .2em;
        width: 100%;

        &::-ms-expand {
          /* for IE 11 */
          display: none;
        }

        &:focus {
          border: 0;
          outline: none !important;
        }
      }
    }

    @include nested(5) {
      .category {
        min-height: span(5);
        width: 100%;

        & > .row {
          @include flexbox;
          @include flex-dir(row);
        }

        &.hidden {
          display: none;
        }

        .cluster {
          cursor: pointer;
          position: relative;
          width: span(2.5);

          .c-image {
            background-color: $a1-color-12;
            background-repeat: no-repeat;
            background-size: 100%;
            border: solid 1px $a1-color-7;
            display: none;
            margin: gutter($grid-columns);
            position: absolute;

            &.show {
              display: block;
              height: 100%;
              width: 100%;
              z-index: 3;

              &.preview {
                padding-bottom: 100%;
                position: relative;
                width: 100%;
                z-index: 2;
              }
            }
          }
        }
      }
    }
  }

  .grid {
    @include span(9);
    margin-left: span(1) + gutter($grid-columns);
    padding: span(1) 0;

    & > .row {
      @include flexbox;
      @include flex-wrap(wrap);
      @include flex-dir(row);
    }

    @include nested(10) {
      .btn {
        &.btn-danger {
          @include span(7);
          background-color: $a1-color-11;
          color: $a1-color-7;

          &.appear {
            @include transition(opacity .5s ease);
            opacity: 1;
          }

          &.disappear {
            @include transition(opacity .2s ease);
            opacity: 0;
          }

          &[disabled],
          &.disabled {
            &.focus,
            &:focus,
            &:hover {
              background-color: $a1-color-11;
            }
          }

          .warning-message {
            margin-left: 1.2rem;
            position: relative;

            &::before {
              @include font-smoothing;
              content: '\f071';
              font: normal normal normal 1rem/1 'FontAwesome';
              margin-left: - 1.2rem;
              position: absolute;
            }
          }
        }

        &.btn-default {
          background-color: $a1-color-6;
          border-color: $a1-color-8;
          color: $a1-color-7;
          width: span(3);

          &:focus,
          &:hover {
            background-color: $a1-color-8;
            color: $a1-color-7;
          }
        }
      }

      .grid-cell {
        background-color: $a1-color-12;
        background-repeat: no-repeat;
        background-size: 100%;
        border: solid 1px $a1-color-7;
        height: 0;
        margin: 0;
        padding-bottom: 25%;
        position: relative;
        text-align: center;
        width: 25%;

        .gc-overlay {
          background-size: 100% 100%;
          padding-bottom: 100%;
          position: absolute;
          width: 100%;
          z-index: 1;

          &.error {
            @include animation(solve-animation .5s ease);
            background-color: $a1-color-13;
          }

          &.good {
            @include animation(solve-animation .5s ease);
            background-color: $a1-color-14;
          }
        }
      }
    }
  }

  .btn {
    @include border-radius(2px);
    border: 0;
    cursor: pointer;
    font-size: .9rem;
    font-weight: bolder;
    letter-spacing: .3px;
    padding: 16px;

    &.disabled,
    &[disabled] {
      cursor: default;
    }
  }
}

.dropdownText {
  margin-bottom: -4px;
  margin-left: -10px;
}

#form-submit {
  padding-top: 2%;
}

// fieldset {
//   &[disabled] {
//     .btn {
//       cursor: default !important;
//     }
//
//     .btn-danger {
//       &.focus,
//       &:focus,
//       &:hover {
//         background-color: #ff5a5a;
//       }
//     }
//   }
// }



.fontText {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}

/*****/

.error-message {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  font-size: 3em;
  padding-top: 45%;
  text-align: center;
}

// .not-selected {
//
//   div {
//     opacity: .5;
//     transition: all 1s ease;
//     -moz-transition: all 1s ease;
//     -webkit-transition: all 1s ease;
//
//     &:hover {
//       opacity: 1;
//       transition: all 1s ease;
//       -moz-transition: all 1s ease;
//       -webkit-transition: all 1s ease;
//     }
//   }
//
//   &.inactive {
//     div {
//       opacity: 0;
//       pointer-events: none;
//       transition: all 1s ease;
//       -moz-transition: all 1s ease;
//       -webkit-transition: all 1s ease;
//     }
//   }
// }
//
// .selected {
//   div {
//     opacity: 1;
//     transition: all 1s ease;
//     -moz-transition: all 1s ease;
//     -webkit-transition: all 1s ease;
//   }
// }

.inactive {
  pointer-events: none;
}

.sidebar-img {
  background-color: #f6f6f6;
  border: solid 2px #ffffff;
  flex: inherit !important;
  height: 140px;
  // padding-bottom: 13.5%;
  opacity: 0;
  padding-bottom: 25%;
  text-align: center;
  width: 140px;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;

  &.not-selected {
    cursor: pointer;
  }

  &.selected {
    cursor: move;
    opacity: 1;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;

    &:hover {
      opacity: 1;
      transition: all 1s ease;
      -moz-transition: all 1s ease;
      -webkit-transition: all 1s ease;
    }
  }
}

.absolute-image {
  position: absolute;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

// .back-img {
//   margin-top: 150px;
//   opacity: 0;
//   width: 140px;
//   height: 140px;
//   display: flex;
//   background: #f6f6f6;
//   position: absolute;
//   left: 0;
//   transition: all 1s ease;
//   -moz-transition: all 1s ease;
//   -webkit-transition: all 1s ease;
//   visibility: hidden;
//   pointer-events: none;
//
//   & > div {
//     opacity: 1;
//     width: 60%;
//     height: 60%;
//     display: block;
//     margin: 20%;
//     transform: rotate(180deg);
//     border-radius: 100%;
//     border: solid .5em #ff740c;
//     cursor: pointer;
//     transition: all 1s ease;
//     -moz-transition: all 1s ease;
//     -webkit-transition: all 1s ease;
//
//     & > div {
//       background: url('/built/img/flechaNueva.svg?2908080c7262') no-repeat center;
//       transition: all 1s ease;
//       -moz-transition: all 1s ease;
//       -webkit-transition: all 1s ease;
//       background-size: contain;
//       height: 60%;
//       margin: 20%;
//       width: 60%;
//     }
//   }
// }

.right {
  margin-bottom: 10px;
  margin-left: 10px;
}

.left {
  margin-bottom: 10px;
  margin-right: 10px;
}


#startTourBtn {
  visibility: hidden;
}

/*Tour*/
div.hopscotch-bubble .hopscotch-nav-button.next {
  background-color: #ff740c !important;
  background-image: none !important;
  border-radius: 1px;
  color: #ffffff !important;
  font-family: 'Nunito', sans-serif;
  letter-spacing: .3px;
}

div.hopscotch-bubble .hopscotch-nav-button.prev {
  border-radius: 1px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: .3px;
}
