@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);


.dropdownStyle {
	background: #ffffff;
  box-shadow: 0 1px 0 0 #ff740c;
  border: aliceblue;
  border-radius: 0px;
}


.dropdownText {
	margin-left: -10px;
  margin-bottom: -4px;
}


.grid-box {
  width: 18% !important;
  height: 0;
  padding-bottom: 18%;
  background-color: #f6f6f6;
  border: solid 2px #ffffff;
  text-align: center;
  flex: inherit !important;
}

.grid-img {
  width: 150px !important;
  min-height: 150px;
  /*padding-bottom: 13.5%;*/
  background-color: #f6f6f6;
  border: solid 2px #ffffff;
  text-align: center;
  flex: inherit !important;
}


.grid-error {
  background-color: #f2c1c1 !important;
}



.colClass {
	padding-top: 3% !important;
  padding-left: 5% !important;
}


.colClass2 {
  padding-top: 1% !important;
}

.description {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  font-size: 4em;
}


.fontText {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}


/*****/

.error_message{
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  font-size: 4em;
  padding-top: 45%;
  text-align: center;
}


@media screen and (max-width: 1023px) {
    
body{
  background-color: #ffffff;
  z-index: 1;
}
.dropdownStyle {
  visibility: hidden;
}


.dropdownText {
 visibility: hidden;
}


.grid-box {
  visibility: hidden;
}

.grid-img {
  visibility: hidden;
}


.grid-error {
  visibility: hidden;
}



.colClass {
  visibility: hidden;
}


.colClass2 {
  visibility: hidden;
}

.description {
  visibility: hidden;
}

.title {
  visibility: hidden;
}


.fontText {
 visibility: hidden;

}

}


.not-selected div{
  opacity: .5;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

.not-selected div:hover{
  opacity: 1;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}


.not-selected.inactive div{
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

.selected div{
  opacity: 1;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

.inactive{
  pointer-events: none;
}

.cluster-images span{
  display: inline-block;
}


.grid-img.selected:hover{
  opacity: 1;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

.grid-img.selected {
  opacity: .5;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

.grid-img {
  opacity: 0;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

.absolute-image{
  position: absolute;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;

}