@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);


.dropdownStyle {
  appearance: none;
	background: #ffffff;
  border: aliceblue;
  border-radius: 0;
  color: #8e8e8e;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  height: 100%;
  padding: 0.2em;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.dropdownStyle::-ms-expand { /* for IE 11 */
    display: none;
}

.dropdownStyle:focus {
  outline: none !important;
  border: 0;
}

.selectLabel {
  box-shadow: 0 1px 0 0 #ff740c;
  display: block;
  /*border: 1px solid #ccc;*/
  height: 3rem;
  margin: 0.5em;
  overflow: hidden;
  /*padding: 0.2em;*/
  position: relative;
  width: 90%;
}

.selectLabel:after {
  box-sizing: border-box;
  color: #ff740c;
  content:"\f107";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 2.2rem;
  height: 3rem;
  /*padding: 12px 8px;*/
  /*padding-top: 0.2em;*/
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 10%;
  vertical-align: middle;
  z-index: 1;
}

.dropdownText {
  margin-bottom: -4px;
	margin-left: -10px;
}

.canvas-draw {
  padding: 4% 10% 2% 10%;
  /*padding-left: 10%;*/
  /*max-height: calc(90vh);*/
  /*box-sizing: border-box;*/
}

.canvas-sidebar {
  padding: 4% 0 2% 0%;
  /*padding-left: 10%;*/
  /*max-height: calc(90vh);*/
  /*box-sizing: border-box;*/
}

.canvas-box {
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-size: 100%;
  border: solid 1px #ffffff;
  flex: inherit !important;
  height: 0;
  padding-bottom: 21%;
  text-align: center;
  width: 21% !important;
  margin: 0;
}

#form-submit {
  padding-top: 2%;
}

.btn {
  border-radius: 1px;
  letter-spacing: 0.3px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.btn-default {
  background-color: #4e4e4e;
  border-color: #333333;
  color:#ffffff;
}

.btn-default:hover, .btn-default:focus {
  background-color: #333333;
  color:#ffffff;
}

.btn-danger {
  background-color: #ff5a5a;
}

.btn-danger {
  background-color: #ff5a5a;
}

.btn-danger.disabled.focus, .btn-danger.disabled:focus,
.btn-danger.disabled:hover, .btn-danger[disabled].focus,
.btn-danger[disabled]:focus, .btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:hover {
  background-color: #ff5a5a;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: default !important;
  opacity: 1 !important;
}

.warning-message:after {
  content:"\f071";
  font-family: FontAwesome;
}

.grid-img {
  background-color: #f6f6f6;
  border: solid 2px #ffffff;
  flex: inherit !important;
  min-height: 150px;
  /*padding-bottom: 13.5%;*/
  text-align: center;
  width: 150px !important;
}

.grid-error {
  background-color: #f2c1c1 !important;
}

.colClass {
	padding-top: 2% !important;
  padding-left: 5% !important;
}

.colClass2 {
  padding-top: 1% !important;
}

.description {
  color: #a0a0a0;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 10%;
  margin-top: 10%;
  width: 100%;
}

.title {
  color: #000000;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  font-size: 5rem;
}

.fontText {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}

/*****/

.error_message{
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  font-size: 4em;
  padding-top: 45%;
  text-align: center;
}


@media screen and (max-width: 1023px) {
  body{
    background-color: #ffffff;
    z-index: 1;
  }
  .colClass {
    visibility: hidden;
  }
  .colClass2 {
    visibility: hidden;
  }
  .description {
    visibility: hidden;
  }
  .dropdownStyle {
    visibility: hidden;
  }
  .dropdownText {
   visibility: hidden;
  }
  .fontText {
    visibility: hidden;
  }
  .canvas-box {
    visibility: hidden;
  }
  .grid-error {
    visibility: hidden;
  }
  .grid-img {
    visibility: hidden;
  }
  .title {
    visibility: hidden;
  }
}


.not-selected div{
  opacity: .5;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

.not-selected div:hover{
  opacity: 1;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}


.not-selected.inactive div{
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

.selected div{
  opacity: 1;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

.inactive{
  pointer-events: none;
}

.cluster-images span{
  display: inline-block;
}


.grid-img.selected:hover{
  opacity: 1;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

.grid-img.selected {
  opacity: .5;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

.grid-img {
  opacity: 0;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
}

.absolute-image{
  position: absolute;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;

}
