@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

.contentPoll {
  padding-top: 3%;
  padding-bottom: 5%;
}

.titlePoll{
	font-family: 'Nunito', sans-serif;
  font-weight: 100;
  font-size: 5em;
  margin-top: 0.2em;
  color: #000;
}

.subtitle{
	margin-top: 1em;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  font-size: 1.3em;
  color: #a0a0a0;
}

.questionText{
	margin-top: 5%;
  font-size: 1.8rem;
	font-weight: 100 !important;
}

.questionDesc{
  color: #8e8e8e;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.9px;
  margin-bottom: 1.5em;
  margin-left: 7em;
  margin-top: 1.5em;
}

/*.questionRow{}*/

.radioAnswers{
	font-family: 'Nunito', sans-serif;
  margin-left: 5.7em;
	margin-top: 0.25em;
}

.customArrow{
	margin-right: 1.1em;
	margin-left: 1.1em;
	color: #ff740c;
}

.radioLabels {
	vertical-align: middle;
  /*-webkit-baseline-middle:*/
	margin-left: 1em;
	font-weight: 100 !important;
  font-size: 1.8rem;
}

.questionNumber{
	color: #ff740c;
}

.spanID{
	color: #ff740c;
}

/*Checkboxes*/
/* checkbox aspect */
input[type=radio] {
  position: relative;
  visibility: hidden;
  cursor: pointer;
  margin: 0;
}

input[type=radio]:after {
  background-color: #ffffff;
  border-color: #ff740c;
  border-radius: 1em;
  border-style: solid;
  content: ' ';
  cursor: pointer;
  display: inline-block;
  height: 1.3em;
  left: -1em;
  top: -0.25em;
  /*transform: scale(1);*/
  /*padding-bottom: 1.1em;*/
  /*padding-right: 0.9em;*/
  /*padding-left: 0.3em;*/
  position: absolute;
  width: 1.3em;
  visibility: visible;
}

input[type=radio]:checked:after {
  background-color:  #ff740c;
  content: ' ';
  color: #ffffff;
  display: inline-block;
  height: 1.3em;
  /*padding-bottom: 1.1em;*/
  /*padding-right: 0.9em;*/
  /*padding-left: 0.3em;*/
  text-align: center;
  width: 1.3em;
  vertical-align: middle;
}

.botonIngles{
	visibility: hidden;
}

/*Drag questions*/

.draggableAnswer{
  background-color: white;
  cursor: move;
  font-family: 'Nunito', sans-serif;
	font-size: 1.3em;
  font-weight: 100;
  /*margin-bottom: .5em;*/
	margin-left: 3.6em;
  padding: 0.5em 1em;
}

.dragIcon{
	margin-right: 0.6em;
	/*margin-left: 1.1em;*/
	color: #ff740c;
}

/*Boton*/


.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;

}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #ff740c;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #F38630;
}

.btn-primary:active, .btn-primary.active {
  background: #FA6900 !important;
  box-shadow: none;
}


.progress{
  background: #F38630;
  height: 10px;
  position: fixed;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

.progress-cont{
  height: 10px;
  width: 100%;
  position: fixed;
  background: gray;
  bottom: 0;
  left: 0;
}

#poll-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  height: 0;
  left: 0;
  transition: all 1s ease;
 -moz-transition: all 1s ease;
 -webkit-transition: all 1s ease;

}