@import './base';

/*.resize{
	width: 100vh;
	height: 80vh;
	text-align: center;
}*/

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
}

.title {
  color: #000000;
  font-size: 4.5em;
  padding-bottom: 1.5%;
}

.subtitle {
  color: #ff740c;
  margin-top: 3%;
  margin-bottom: 5%;
  /*font-family: 'Nunito', sans-serif;*/
  font-size: 2em;
  /*font-weight: 100;*/
}

.description {
  color: #a0a0a0;
  /*font-family: 'Nunito', sans-serif;
  font-weight: 100;*/
}

.share-thanks {
  padding: 1% !important;
}

.or {
  color: #a0a0a0;
}

.button-download,
.button-share {
  border-radius: 1px;
  color: #ffffff !important;
  cursor: pointer;
  font-size: .8em;
  font-weight: normal;
  letter-spacing: .4px;
  margin-bottom: 6%;
  margin-top: 6%;
  padding: 3.5%;
  text-align: center;
}

.button-download {
  background-color: #4e4e4e;
}

.button-share {
  background-color: #3b5998;
}
