<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Word?! Shit you care about but probably shouldn't.">
    <meta name="author" content="GRVTY labs, duh!">
    <link rel="shortcut icon" type="image/png" href="{{ static("img/grvtyisotipo.png")}}"/>
    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    {% block extra_cdn_css %}{% endblock %}
    {% compress css %}
      {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% block top_cdn_js %}{% endblock %}

    {% compress js %}
      {% block top_js %}{% endblock %}
    {% endcompress %}
  </head>
  <body>
    {% block content %}
      <div id="content"></div>
    {% endblock %}

    <!-- JavaScript scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block bottom_cdn_js %}{% endblock %}
    {% compress js %}
      {% block bottom_js %}{% endblock %}
    {% endcompress %}
  </body>
</html>
